.tempo{
    display: flex;
    width: 130px;
    margin: auto;
}
body{
    font: normal 25pt Arial;
    background: white;

}
section{
    background: cyan;
    width: 500px;
    height: 450px;
    margin: auto;
    text-align: center;
    border-radius: 100%;
    position: absolute;
    margin-left: 400px;
    border: 10px solid black;
}

button{
    width: 70px;
    height: 40px;
    border-radius: 15px;
    border: 2px solid white;
}

.iniciar:hover{
    background: rgb(3, 255, 3);
    border: 1px solid rgb(0, 255, 0);
    
    
}
.pausar:hover{
    background: rgb(200, 255, 0);
    border: 1px solid rgb(200, 255, 0);
}
.parar:hover{
    background: red;
    border: 1px solid red;
}
